<ul class="versions test-addon-versions">
  {{#each versionsWithComponent as |version|}}
    <li>
      {{component version.component version=version.version}}
    </li>
  {{/each}}
  {{#if thereAreHiddenVersions}}
    <a href="#" {{action "showAllVersions"}}>Show all versions</a>
  {{/if}}
</ul>
