<ul class="versions test-addon-versions">
  {{#each versionsWithMeta as |version|}}
    <li>
      {{#if version.isEmber}}
        {{ember-version-item version=version.version}}
      {{else}}
        {{addon-version-item version=version.version}}
      {{/if}}
    </li>
  {{/each}}
  {{#if thereAreHiddenVersions}}
    <a href="#" {{action "showAllVersions"}}>
      Show all versions
    </a>
  {{/if}}
</ul>