<span class="addon-count test-addon-table-count">Displaying {{pluralize-this addons.length "addon"}}</span>
<table class="addons-table">
  <tbody>
  {{#each addons as |addon|}}
    {{addon-row addon=addon showAddon="showAddon"}}
  {{/each}}
  </tbody>
</table>
