<form {{action "submit" on="submit"}}>
  <input name="typeahead" type="search" autocomplete="off" placeholder="{{unbound placeholder}}">
  <input type="submit" value="Submit" style="display:none;">
</form>
