<form>
  <div class="typeahead-container">
    <div class="typeahead-field">

      <span class="typeahead-query">
          <input id="typeahead" name="typeahead" type="search" autocomplete="off" {{bind-attr placeholder="placeholder"}}>
      </span>
      <span class="typeahead-button" style="display:none;">
          <button type="submit">
          </button>
      </span>

    </div>
  </div>
</form>
