<ul>
	{{#each categories as |category|}}
		{{category-list-item category=category prefix=prefix}}
	{{/each}}
	{{#if showAddCategory}}
		<li>
			{{link-to 'Add category' 'admin.categories.new'}}
		</li>
	{{/if}}
</ul>
