<li>
	{{prefix}}{{link-to category.name 'admin.categories.edit' category.slug}} - {{category.description}}
	{{#if category.subcategories}}
		{{category-list categories=sortedSubcategories prefix="» "}}
	{{/if}}
</li>
