<section class="date-nav">
  {{yield
    (hash
      formattedPreviousDate=this.formattedPreviousDate
      formattedDisplayDate=this.formattedDisplayDate
      formattedFollowingDate=this.formattedFollowingDate
      showFollowingDayLink=this.showFollowingDayLink
    )
  }}
</section>
