<h6>Version Compatibility</h6>
<p class="test-ember-version-compatibility-list">
  <table>
    <thead>
      <tr>
        <th>Ember Version</th>
        <th>Compatible?</th>
      </tr>
    </thead>
    <tbody>
      {{#each versionCompatibilities as |versionCompatibility|}}
      <tr class='test-ember-version-compatibility-item'>
        <td class='test-ember-version-compatibility-ember-version'>{{versionCompatibility.emberVersion}}</td>
        <td class='test-ember-version-compatibility-is-compatible'>{{if versionCompatibility.compatible 'yes' 'no'}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</p>
