<ul class='featured-packages'>
  {{#each package in displayedPackages}}
    <li class='featured-package'>
      <h3>{{link-to package.name 'packages.show' package}}</h3>
      {{package.description}}
    </li>
  {{/each}}
</ul>