<ul class='featured-addons'>
  {{#each displayedAddons as |addon|}}
    <li class='featured-addon'>
      <h3>{{link-to addon.name 'addons.show' addon}}</h3>
      {{addon.description}}
    </li>
  {{/each}}
</ul>
