<form {{action "login" on="submit"}}>
  <label for="username">Username</label>
  {{input value=username name="username"}}
  <label for="password">Password</label>
  {{input type="password" value=password name="password"}}
  {{input type="submit" value="Log in"}}
</form>
