{{text-field-arrowed value=query focus-out="lostFocus" arrow-up="arrowUp" arrow-down="arrowDown" enter="enter" placeholder=placeholder}}
{{#if showMatches}}
  <ul class='matches'>
    {{#each match in matches}}
    <li {{bind-attr class='match.active'}}>
        <span class='name'>{{match.name}}</span>
    </li>
    {{/each}}
  </ul>
{{/if}}