.addons-show {
  @include outer-padding;

  h1 {
    margin-top: 0;
    margin-bottom: .25em;
    color: darken($blue, 5);
  }

  form {
    label {
      display: inline-block;
    }
  }

  section {
    margin-bottom: 2em;
  }

  .score {
    font-weight: 300;
  }

  .info-action {
    border-bottom:1px dashed #999;
    font-size: 80%;
  }

  .note {
    legend {
      padding: 0 .25em;
      font-weight: 700;
    }

    section {
      margin-bottom: 0;
    }

    p {
      margin: 0;
    }
  }

  .categories {
    p {
      margin-top: .5em;
      font-size: 1.1em;
    }

    a {
      white-space: nowrap;
    }
  }

  .commit-stats {
    @include clearfix();
    margin-top: 3em;
    padding: 0.75em;
  }

  .latest-review {
    .review-date {
      font-size: .8em;
      color: #999;
    }

    ol {
      margin-top: 1em;
    }

    .no-review {
      margin-top: .5em;
      font-size: 1.1em;
    }

    h6 {
      margin-bottom: 1em;
    }
  }

  .new-review {
    @include span-columns(12);
  }

  .addon-info {
    @include span-columns(12);

    @include media($medium-screen) {
      @include span-columns(7);
    }
  }

  .addon-stats {
    @include span-columns(12);

    @include media($medium-screen) {
      @include span-columns(4);
      @include shift(1);
      @include omega();

      .single-column-header {
        display: none;
      }
    }

    .single-column-header {
      margin-bottom: .5em;
    }

    .addon-install {
      font-family: 'Inconsolata';
      font-weight: 300;
    }

    .keywords, .versions {
      font-weight: 300;
    }

    .version-number {
      font-weight: normal;
    }

    .ember-version-compatibility {
      margin-bottom: 0.75em;

      p {
        margin-bottom: 0;
      }

      em {
        font-size: 80%;
      }

      .ember-version-compatibility-list {
        margin-top: 0;
      }

      .result-failed {
        color: red;
        font-weight: bold;
      }
    }
  }

  .questions {
    li {
      @include clearfix();
      margin-bottom: .7em;
      border-bottom: 1px dotted tint($blue, 50%);;

      &:hover {
        color: $base-accent-color;
      }
    }

    .question {
      float: left;
    }

    .answer {
      float: right;
      font-weight: bold;
    }
  }

  .review-form {

    li {
      margin-bottom: 1em;
    }

    .question {
      margin-bottom: 1em;
    }

    ul {
      margin-bottom: 2em;
    }

    button {
      display: inline-block;
      line-height: $base-line-height;
      margin-bottom: 0.3em;
      margin-right: 0.5em;
      outline: none;
      padding: 0.3em 1em;
      width: 100%;
      color: $base-accent-color;
      background-color: white;
      border: 1px solid $base-accent-color;
      font-weight: 300;

      &:hover, &.selected {
        background-color: $base-accent-color;
        color: white !important;
      }

      @include media($medium-screen) {
        margin-bottom: 0;
        width: auto;
      }
    }
  }

  ul.stats-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: 300;

    li {
      padding-top: .5em;
      padding-bottom: .5em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);

      a {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  .badge {
    margin-top: 1em;

    img {
      float: left;
      padding-right: .5em;
    }
  }

  .copy-to-clipboard {
    cursor: pointer;
    padding: 0;
    background: none;
    color: $base-accent-color;
    vertical-align: baseline;

    &:focus {
      outline: 0;
    }

    &:hover {
      color: $hover-link-color;
    }
  }

  .readme {
    @include span-columns(12);
    border: 1px solid #d8d8d8;
    border-radius: 3px 3px 0 0;
    h2, h3, h4, h5 {
      margin: 24px 0 16px 0;
      font-weight: bold;
    }
    h1, h2 {
      border-bottom: 1px solid #eee;
      padding-bottom: .3em;
    }
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.5rem;
    }
    h3 {
      font-size: 1.25rem;
    }
    h4 {
      font-size: 1rem;
    }
    h5 {
      font-size: .9rem;
    }
    code {
      background-color: #f7f7f7;
      padding: .3rem;
      font-size: 90%;
    }
    pre {
      background-color: #f7f7f7;
      padding: 16px;
      overflow: auto;
      border-radius: 3px;
      line-height: 1.25rem;
      code {
        padding: 0;
      }
    }
    th, td {
      border: 1px solid #ddd;
      padding: 6px 13px;
    }
    ul, ol {
      padding-left: 2rem;
      margin-bottom: 1rem;
    }

    ul {
      list-style-type: disc;
      ul {
        list-style-type: circle;
        ul {
          list-style-type: square;
        }
      }
    }
    ol {
      list-style-type: decimal;
    }
    .task-list-item input {
      margin-left: -1.2em !important;
    }
    .header {
      border-bottom: 1px solid #d8d8d8;
      background-color: #f5f5f5;
      font-weight: bold;
      padding: .5rem .75rem;
      margin-bottom: 0;
    }

    .contents {
      padding: 2rem;
      margin-bottom: 0;
    }
  }
}
