.addons-show {
  @include outer-padding;

  h1 {
    margin-bottom: .25em;
  }

  section {
    margin-bottom: 1em;
  }

  .addon-info {
    @include span-columns(8);
  }

  .addon-stats {
    @include span-columns(4);

    .addon-install {
      margin-top: 3.5em;
      font-family: 'Inconsolata';
      font-weight: 300;
    }
  }

  label {
    font-size: 1em;
    font-weight: 400;
  }

  .questions {
    li
    {
      display: flex;
    }
    li .question,
    li .answer
    {
      flex: 1 0 auto;
    }

    li .dots
    {
      flex: 0 1 auto;
    }

    .dots::before
    {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: clip;
      content:
      ". . . . . . . . . . . . . . . . . . . . "
      ". . . . . . . . . . . . . . . . . . . . "
      ". . . . . . . . . . . . . . . . . . . . "
      ". . . . . . . . . . . . . . . . . . . . "
    }
  }

  ul.stats-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-weight: 300;

    li {
      padding-top: .5em;
      padding-bottom: .5em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);

      a {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
