.addon-list {
  font-size: 1.2rem;

  li {
    border-radius: 2px;
    border-bottom: 1px dotted $light-gray;
    padding: .9rem 1.5rem;
    padding-left: 1rem;

    p {
      margin: 0;
    }

    .addon-name {
      font-weight: 600;
    }

    .desc {
      padding-left: 3.5rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .last-updated {
      color: #999;
      font-size: .8rem;
    }

    .score, .ranking {
      margin-right: 1rem;
      position: absolute;
    }

    .score {
      width: 2.5rem;
      text-align: center;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    .ranking {
      font-size: 1rem;
      color: #999;
    }

    &:hover, &:focus {
      background-color: $light-gray;
    }
  }
}
