.addons-show {
  @include outer-padding;

  h1 {
    margin-top: 0;
    margin-bottom: .25em;
    color: darken($blue, 5);
  }

  form {
    label {
      display: inline-block;
    }
  }

  section {
    margin-bottom: 2em;
  }

  .score {
    font-weight: 300;
  }

  .info-action {
    border-bottom:1px dashed #999;
    font-size: 80%;
  }

  .note {
    legend {
      padding: 0 .25em;
      font-weight: 700;
    }

    section {
      margin-bottom: 0;
    }

    p {
      margin: 0;
    }
  }

  .categories {
    p {
      margin-top: .5em;
      font-size: 1.1em;
    }

    a {
      white-space: nowrap;
    }
  }

  .commit-stats {
    @include clearfix();
    margin-top: 3em;
    padding: 0.75em;
  }

  .latest-review {
    .review-date {
      font-size: .8em;
      color: #999;
    }

    ol {
      margin-top: 1em;
    }

    .no-review {
      margin-top: .5em;
      font-size: 1.1em;
    }

    h6 {
      margin-bottom: 1em;
    }
  }

  .new-review {
    @include span-columns(12);
  }

  .addon-info {
    @include span-columns(12);

    @include media($medium-screen) {
      @include span-columns(7);
    }
  }

  .addon-stats {
    @include span-columns(12);

    @include media($medium-screen) {
      @include span-columns(4);
      @include shift(1);
      @include omega();

      .single-column-header {
        display: none;
      }
    }

    .single-column-header {
      margin-bottom: .5em;
    }

    .addon-install {
      font-family: 'Inconsolata';
      font-weight: 300;
    }

    .keywords, .versions {
      font-weight: 300;
    }

    .version-number {
      font-weight: normal;
    }
  }

  .questions {
    li {
      @include clearfix();
      margin-bottom: .7em;
      border-bottom: 1px dotted tint($blue, 50%);;

      &:hover {
        color: $base-accent-color;
      }
    }

    .question {
      float: left;
    }

    .answer {
      float: right;
      font-weight: bold;
    }
  }

  .review-form {

    li {
      margin-bottom: 1em;
    }

    .question {
      margin-bottom: 1em;
    }

    ul {
      margin-bottom: 2em;
    }

    button {
      display: inline-block;
      line-height: $base-line-height;
      margin-bottom: 0.3em;
      margin-right: 0.5em;
      outline: none;
      padding: 0.3em 1em;
      width: 100%;
      color: $base-accent-color;
      background-color: white;
      border: 1px solid $base-accent-color;
      font-weight: 300;

      &:hover, &.selected {
        background-color: $base-accent-color;
        color: white !important;
      }

      @include media($medium-screen) {
        margin-bottom: 0;
        width: auto;
      }
    }
  }

  ul.stats-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: 300;

    li {
      padding-top: .5em;
      padding-bottom: .5em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);

      a {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  .badge {
    margin-top: 1em;

    img {
      float: left;
      padding-right: .5em;
    }

    .copy-to-clipboard {
      cursor: pointer;
      padding: 0;
      background: none;
      color: $base-accent-color;
      vertical-align: baseline;
    }

    .zeroclipboard-is-hover.copy-to-clipboard button {
      color: $hover-link-color;
    }
  }

}
