.admin-build-result {
  pre {
    line-height: 1;
  }

  summary {
    outline: none;
  }

  details > details {
    font-family: monospace;
    margin-left: 25px;

    & > output {
      display: block;
      padding-left: 14px;
      white-space: pre;
    }
  }
}


.admin-build-result-nav {
  text-align: center;

  a.previous-day {
    float: left;
  }
  a.next-day {
    float: right;
  }
}
