.categories-show {
  @include outer-padding;

  h1 {
    margin-bottom: .25em;
  }

  .description {
    color: #999;
    font-style: italic;
  }

  h2 {
    font-weight: 300;
  }

  .addons-table {
    margin-top: 2.5em;
  }
}
