.categories-show {
  @include outer-padding;

  h1 {
    margin-bottom: .25em;
  }

  .description {
    color: #999;
    font-style: italic;
  }

  h2 {
    font-weight: 300;
  }

  .addons-table {
    margin-top: 2.5em;
  }

  .sort-buttons {
    text-align: right;
  }

  .category-details {
    @include span-columns(9);
  }

  .sort-controls {
    @include span-columns(3);
    @include omega();
  }
}
