.route-index {

  .top-addons {
    border-top: 1px solid $light-gray;
    padding-top: 1.5rem;
  }

  .new-addons {
    margin-top: 3rem;
  }

  h1 {
    margin-bottom: 1rem;
  }

  .more {
    font-weight: bold;
    text-decoration: underline
  }
}
