.maintainers-show {

  header {
    width: 100%;

    img {
      float: left;
      margin-right: 1em;

      border: 1px solid #ccc;
      border-radius: 3px;
    }

    padding-bottom: 1rem;
  }
}
