.markdown {
  ol, ul {
    padding-left: 40px;
  }

  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: disc;
  }

  pre {
    white-space: pre-wrap;
  }

  h1 {
    margin-top: 0;
  }
}
