@import "normalize";
@import "bower_components/bourbon/app/assets/stylesheets/_bourbon";
@import "bower_components/neat/app/assets/stylesheets/_neat";
@import "base/base";
@import "font-icons";
@import "markdown";
@import "footer";
@import "index";
@import "admin_index";
@import "categories_show";
@import "addons_show";
@import "addons_correct";
@import "login";
@import "addons_index";
@import "addons-list";
@import "components/large-search";
@import "components/code-search";
@import "components/spinner";
@import "maintainers_show";
@import "not_found";
@import "button_select";
@import "stats";
@import "scores";
@import "about_index";
@import "admin_build_result";
@import "components/page-layout";

::-ms-clear {
  display: none;
}

.container {
  @include outer-container;
}

.alert {
  color: $alert-color;
}

.official {
  color: $hay;
}

.dependency {
  color: $base-accent-color;
}

.notice {
  color: $light-gray;
  font-size: .75em;
}

$ember-power-select-number-of-visible-options: 10;
$ember-power-select-highlighted-background: $light-gray;
@import "ember-power-select";
@import 'ember-power-select-typeahead';

.ember-power-select-option {
  padding: ($base-spacing / 4) ($base-spacing / 4);
  font-size: 1.25rem;
}

.ember-power-select-trigger {
  $trigger-padding: 0.25rem;
  $trigger-font-size: 1.25rem;
  padding: $trigger-padding;
  font-size: $trigger-font-size;
  $height-with-padding: ($base-line-height * $trigger-font-size) + (2 * $trigger-padding);
  line-height: $height-with-padding;
  min-height: $height-with-padding;
}

.jump-to-full-search {
  font-style: italic;
  font-weight: bold;
  color: black;
  text-decoration: underline;

  &:hover {
    color: $dark-gray;
  }
}
