@import "normalize";
@import "bower_components/bourbon/dist/_bourbon";
@import "bower_components/neat/app/assets/stylesheets/_neat";
@import "base/base";
@import "markdown";
@import "footer";
@import "index";
@import "admin_index";
@import "categories_show";
@import "addons_show";
@import "login";
@import "addons_index";
@import "components/addons-table";
@import "featured_addons";
@import "search_ahead";

.container {
  @include outer-container;
}

header.navigation {
  padding: 1em;
  background-color: $dark-blue-gray;
  position: relative;

  .name {
    font-size: 2em;
  }

  input {
    margin-top: 1em;
  }

  .logout {
    position: absolute;
    top: 1em;
    right: 5em;
  }
}

h1 {
  margin-bottom: 1em;
  margin-top: 1em;
  font-weight: 300;
}

h2 {
  margin-bottom: 1em;
  margin-top: 1em;
  font-weight: 300;
}

h3 {
  margin-bottom: 1em;
  margin-top: 1em;
  font-size: 1em;
  font-weight: 700;
}
