@import "normalize";
@import "bower_components/bourbon/app/assets/stylesheets/_bourbon";
@import "bower_components/neat/app/assets/stylesheets/_neat";
@import "base/base";
@import "typeahead";
@import "font-icons";
@import "markdown";
@import "footer";
@import "index";
@import "admin_index";
@import "categories_show";
@import "addons_show";
@import "addons_correct";
@import "login";
@import "addons_index";
@import "components/addons-list";
@import "components/page-layout-with-search";
@import "components/spinner";
@import "search_ahead";
@import "maintainers_show";
@import "not_found";
@import "button_select";
@import "stats";
@import "scores";
@import "about_index";

::-ms-clear {
  display: none;
}

.container {
  @include outer-container;
}

body {
  margin: 1rem;
}

.alert {
  color: $alert-color;
}

.official {
  color: $hay;
}

.dependency {
  color: $base-accent-color;
}

.notice {
  color: $light-gray;
  font-size: .75em;
}
