<div class="addons-index">
  <h1>Addons with incorrect or missing repository urls</h1>
  <p>The following addons have an incorrect or missing repository url in the package.json of the latest published version.</p>
  <p>Help the maintainers out: find the repo and make a PR to update package.json!</p>

  <p><small>Displaying {{this.model.length}} addons</small></p>
  <AddonList @addons={{this.model}} />
</div>
