---
language: node_js
node_js:
  - "6"

sudo: required
dist: trusty

addons:
  chrome: stable

cache:
  directories:
    - $HOME/.npm

env:
  global:
    # See https://git.io/vdao3 for details.
    - JOBS=1

before_install:
  - npm config set spin false
  - npm install -g bower
  - bower install
  - yarn install

script:
  - ember browserstack:connect
  - ember test --testem-debug testem.log
  
after_script:
  - ember browserstack:disconnect
  - cat testem.log
