@import "node_modules/bourbon-neat/app/assets/stylesheets/_neat-helpers";

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
$max-width: 100%;

// Neat Breakpoints
$small-screen: 500px;
$medium-screen: 800px;
$large-screen: em(860);

$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);
