<ul class="versions test-addon-versions">
  {{#each this.versionsWithMeta as |version|}}
    <li>
      {{#if version.isEmber}}
        <EmberVersionItem @version={{version.version}} />
      {{else}}
        <AddonVersionItem @version={{version.version}} />
      {{/if}}
    </li>
  {{/each}}
  {{#if this.thereAreHiddenVersions}}
    <button type="button" class="btn-link" {{on "click" this.showAllVersions}}>Show all versions</button>
  {{/if}}
</ul>
