<ul class="addon-list">
  {{#each this.addons as |addon|}}
    <li class="test-addon-row">
      <AddonDetails @addon={{addon}} @showRanking={{this.showRanking}} />
    </li>
  {{/each}}
  {{yield}}
</ul>
