<div class="top-addons">
  <h1>Top addons</h1>
  <AddonList @addons={{this.topAddons}} @showRanking={{true}}>
    <LinkTo @route="lists.top-addons">
      <li class="more">
        See all top 100 addons
      </li>
    </LinkTo>
  </AddonList>
</div>

<div class="recently-scored-addons">
  <h1>Recently scored addons</h1>
  <AddonList @addons={{this.recentlyScoredAddons}}>
    <LinkTo @route="lists.recently-scored-addons">
      <li class="more">
        See all recently scored addons
      </li>
    </LinkTo>
  </AddonList>
</div>

<div class="new-addons">
  <h1>New addons</h1>
  <AddonList @addons={{this.newAddons}}>
    <LinkTo @route="lists.new-addons">
      <li class="more">
        See all new addons
      </li>
    </LinkTo>
  </AddonList>
</div>
