<form {{action "addCategory" on="submit"}}>
	<fieldset>
		<label for="name">
			Name:
		</label>
		{{input type="text" id="name" value=newCategoryName}}
		<br>
		<label for="description">
			Description:
		</label>
		{{input type="text" id="description" value=newCategoryDescription}}
		<br>
		<label for="position">
			Position:
		</label>
		{{category-position-dropdown name="position" position=newCategoryPosition categories=model.categories}}
		<br>
		<input type="submit" value="Add category">
	</fieldset>
</form>
