<div class="container categories-show">
  <h1 class="test-category-header">{{model.name}}</h1>
  <p class="description test-category-description">{{model.description}}</p>

  {{addons-table addons=model.addons showAddon="showAddon"}}
</div>
