.addon-size {

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 8px 0;

    @include media($small-screen) {
      margin: 2px 0;

      &.other-assets {
        padding-left: 10px;
      }
    }

    &.total {
      font-weight: bold;
    }

    &.grand-total {
      border-top: 1px dotted #97bacc;
      margin-top: .5rem;
      padding-top: .5rem;
    }
  }

  .column-1 {
    display: flex;
    flex-basis: 50%;
    padding-right: 1rem;

    @include media($medium-screen) {
      flex-basis: unset;
    }
  }

  .column-2 {
    display: flex;
    flex-direction: column;

    @include media($medium-screen) {
      flex-direction: row;

      .asset-size {
        padding-left: .5rem;
      }
    }
  }

}
