.code-search {
  .search-wrapper {
    display: inline-block;
    width: 100%;
    padding: 1.5rem;
  }

  .search-wrapper-inner {
    position: relative;
  }

  .icon-close {
    position: absolute;
    top: 50%;
    right: 1rem;
    margin-top: -1rem;
    font-size: 2rem;
    line-height: 1;
    color: $light-gray;
    background: none;
    padding: 0;
  }

  .usage-count {
    padding-left: 4rem;
    margin-top: .5rem;
    position: relative;

    a {
      cursor: pointer;
    }
  }

  .sort-controls {
    margin-left: 1.5rem;
  }

  .usage {
    background-color: #fff;
    border-radius: 5px;
    padding: 8px;
    margin-top: 20px;
    overflow-wrap: break-word;

    .filename {
      margin-left: 4px;
      padding-bottom: 5px;
      font-size: 1rem;
    }

    .line {
      margin: 0;
      padding: 1px 4px;
      font-size: .9rem;
      line-height: 1.6rem;
      white-space: pre-wrap;

      &:nth-child(even) {
        background-color: #f7f7f7;
      }

      .match {
        font-weight: bold;
      }

      .number {
        padding-right: 1rem;
      }
    }
  }

  .view-more {
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: underline;
  }
}
