.code-search {
  margin-bottom: 2rem;

  h1 {
    margin-bottom: .25rem;
  }

  .search-wrapper {
    input {
      margin: 0;
    }
  }

  .regex-toggle {
    color: $base-accent-color;
    margin-left: 0.25rem;

    input {
      margin-right: 0.5rem;
    }

    label {
      cursor: pointer;
    }
  }

  .search-actions {
    @include clearfix;
    padding: 0.5rem 0;

    .regex-help {
      border-bottom:1px dashed #999;
      font-size: 90%;
      margin-left: .5rem;
    }
  }

  .search-wrapper-inner {
    position: relative;
  }

  .icon-close {
    position: absolute;
    top: 50%;
    right: 1rem;
    margin-top: -1rem;
    font-size: 2rem;
    line-height: 1;
    color: $light-gray;
    background: none;
    padding: 0;
  }

  .result-details {
    @include clearfix;

    h4 {
      margin: .25rem 0;
    }

    h5 {
      line-height: 2rem;
    }

  }

  .result-controls {
    padding: 0 .25rem;
    border: 1px solid $light-gray;
    border-width: 0 0 1px 0;
    margin-top: 1rem;
    padding-bottom: 1rem;
    @include clearfix();

    .sort-controls {
      @include span-columns(6);
      text-align: right;
      margin-bottom: .5rem;

      .button-option {
        margin-bottom: 0;
      }
    }

    .filter-controls {
      @include span-columns(6);
      margin-bottom: .5rem;
      height: 80px;

      .filter-input {
        @include media($medium-screen) {
          width: 300px;
        }

        width: 144px;
        position: relative;

        input {
          border: 1px solid $base-accent-color;
          height: 36px;
          width: 100%;
          padding: .5rem;
        }

        .icon-close {
          right: .4rem;
          color: $base-accent-color;
          font-size: 1.25rem;
          margin-top: -.7rem;
        }
      }

      .filter-results {
        display: inline-block;
        padding-top: 10px;
        white-space: nowrap;
      }
    }
  }

  .usage-count {
    padding-left: 4rem;
    margin-top: .5rem;
    position: relative;

    a {
      cursor: pointer;
    }

    .view-more {
      font-size: 1rem;
    }
  }

  .usage {
    background-color: #fff;
    border-radius: 5px;
    padding: 8px;
    margin-top: 20px;
    overflow-wrap: break-word;

    .filename {
      margin-left: 4px;
      padding-bottom: 5px;
      font-size: 1rem;
    }

    .line {
      margin: 0;
      padding: 1px 4px;
      font-size: .9rem;
      line-height: 1.6rem;
      white-space: pre-wrap;

      &:nth-child(even) {
        background-color: #f7f7f7;
      }

      .match {
        font-weight: bold;
      }

      .number {
        padding-right: 1rem;
      }
    }
  }

  .view-more {
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: underline;
  }

  .addon-list {
    @include clearfix;
  }
}
