<form {{action "save" on="submit"}} class="test-categories-form">
  <fieldset>
    {{multiselect-checkboxes options=model.categories labelProperty="displayName" selection=addon.categories}}

    {{#if isSaving}}
      <input type="submit" class="button" value="Saving" disabled>
    {{else}}
      {{input type="submit" class="button" value="Save"}}
    {{/if}}
  </fieldset>
</form>
