<form {{action "save" on="submit"}} class="test-categories-form">
  <fieldset>
    {{multiselect-checkboxes options=categories labelProperty="displayName" selection=model.categories}}

    {{#if isSaving}}
      <input type="submit" value="Saving" disabled>
    {{else}}
      {{input type="submit" value="Save"}}
    {{/if}}
  </fieldset>
</form>
