{{#page-layout showCategories=false}}
  <div class="admin-index">
    <h1>Admin</h1>

    <nav>
      <ul>
        <li>{{#link-to "admin.review"}}Review & categorize addons{{/link-to}}</li>
        <li>{{#link-to "admin.categories.index"}}Categories{{/link-to}}</li>
        <li>{{#link-to "admin.addon-lists.addons-needing-categorization"}}Addons needing categorization{{/link-to}}</li>
        <li>{{#link-to "admin.addon-lists.addons-needing-review"}}Addons needing review{{/link-to}}</li>
        <li>{{#link-to "admin.addon-lists.addons-needing-rereview"}}Addons with new updates since their last review{{/link-to}}</li>
        <li>{{#link-to "admin.addon-lists.addons-wip"}}WIP Addons{{/link-to}}</li>
        <li>{{#link-to "admin.addon-lists.addons-hidden"}}Hidden Addons{{/link-to}}</li>
        <li>{{#link-to "admin.build-results"}}Build results{{/link-to}}</li>
        <li>{{#link-to "admin.build-servers"}}Manage build servers{{/link-to}}</li>
      </ul>
    </nav>
  </div>
{{/page-layout}}
