<div class="container maintainers-show">
  <header>
    {{gravatar-avatar gravatarId=model.gravatar title=model.name alt=model.name}}
    <h1>
      {{model.name}}
    </h1>
    <p>Addons maintained by {{model.name}}.</p>
  </header>
  {{addons-table addons=model.addons showAddon="showAddon"}}
</div>
