<div class="container">
  {{#page-layout-with-search query=query searchReadmes=searchReadmes showCategories=shouldShowCategories}}
    {{outlet}}
  {{/page-layout-with-search}}
  <footer class="footer" role="contentinfo">
    <hr>
    <section class="sponsor">
      <p>Sponsored by</p>
      <p>
        <a href="http://www.codeallday.com"><img src="/cad-split-lines.png" alt="Code All Day"></a>
      </p>
    </section>
    <p>Created by <a href="http://www.codeallday.com">Katie Gengler</a>, <a href="http://louissimons.com/">Louis
      Simons</a> and <a href="http://pgengler.net">Phil Gengler</a>.</p>
    <p>An open source project hosted on <a href="https://github.com/emberobserver/client">Github</a></p>
  </footer>
</div>
