<header class="navigation">
  <div class="container">
    {{#link-to "index" class="name"}}Ember Observer{{/link-to}}
    {{autocomplete-textfield
      datasets=autocompleteData
      placeholder="Find addons"
    }}
  </div>
  {{#if session.isAuthenticated}}
    <a href="#" {{action "logout"}} class="logout">Log out</a>
  {{/if}}
</header>

{{outlet}}

<footer class="footer" role="contentinfo">
  <div class="footer-links">
    <ul>
      <li><h3>Content</h3></li>
      <li>{{#link-to "index"}}Categories{{/link-to}}</li>
      <li>{{#link-to "addons.index"}}Addons{{/link-to}}</li>
      {{!--<li><a href="javascript:void(0)">Keywords</a></li>--}}
    </ul>
    <ul>
      <li><h3>Repo</h3></li>
      <li><a href="https://github.com/pgengler/ember-addon-review-client">Github</a></li>
    </ul>
    <ul>
      <li><h3>Credits</h3></li>
      <li><a href="http://emberjs.com/">Ember</a> / <a href="http://www.ember-cli.com/">Ember-CLI</a></li>
      <li><a href="http://bourbon.io/">Bourbon</a> / <a href="http://neat.bourbon.io/">Neat</a> / <a href="http://bitters.bourbon.io/">Bitters</a> / <a href="http://refills.bourbon.io/">Refills</a></li>
    </ul>
  </div>

  <hr>

  <p>Created by <a href="http://www.codeallday.com">Katie Gengler</a>, <a href="http://louissimons.com/">Louis Simons</a> and <a href="http://pgengler.net">Phil Gengler</a>.</p>
</footer>
