<header class="navigation">
  <div class="container">
    {{#link-to "index" class="name"}}Ember Observer{{/link-to}}
    {{autocomplete-textfield
      items=model.addons
      displayKey="name"
      placeholder="Search for addons"
      select="showAddon"
    }}
  </div>
  {{#if session.isAuthenticated}}
    <a href="#" {{action "logout"}} class="logout">Log out</a>
  {{/if}}
</header>

{{outlet}}

<footer class="footer" role="contentinfo">
  <div class="footer-links">
    <ul>
      <li><h3>Content</h3></li>
      <li>{{#link-to "index"}}Categories{{/link-to}}</li>
      <li>{{#link-to "addons.index"}}Addons{{/link-to}}</li>
      <li><a href="javascript:void(0)">Keywords</a></li>
    </ul>
    <ul>
      <li><h3>Repo</h3></li>
      <li><a href="javascript:void(0)">Github</a></li>

    </ul>
    <ul>
      <li><h3>Credits</h3></li>
      <li><a href="javascript:void(0)">Ember, Ember-CLI</a></li>
      <li><a href="javascript:void(0)">Bourbon, Neat, Bitters & Refills</a></li>
    </ul>
  </div>

  <hr>

  <p>Created by <a href="http://www.codeallday.com">Katie Gengler</a>, <a href="http://louissimons.com/">Louis Simons</a> and <a href="http://pgengler.net">Phil Gengler.</a></p>
</footer>
