<header class="navigation">
  <div class="container">
    {{#link-to "index" class="name"}}The Ember Addon Review{{/link-to}}
    {{search-ahead
      items=controller
      placeholder="Search for addons"
      minSearchLength=3
      action="showPackage"
    }}
  </div>
  {{#if session.isAuthenticated}}
    <a href="#" {{action "logout"}} class="logout">Log out</a>
  {{/if}}
</header>

{{outlet}}
