<header class="navigation">
  <div class="container">
    {{#link-to "index" class="name"}}The Ember Addon Review{{/link-to}}
    {{input class="blank" placeholder="Search for addons"}}
  </div>
</header>

{{outlet}}
